@charset "UTF-8";

body{
	padding: 0;
	margin: 0;
	height: 1000px;
}
header{
	position: absolute;
	width: 85%;
	height: 24vh;
	padding-left: 15%;
	overflow: hidden;
	background-color: #8A6AA3;
}
header #headerBox{
	top: 0;
	z-index: 5;
	width: 85%;
	height:100%;
	padding-left: 15%;
	background-image: url("images/headerImg.png");
	opacity: 0.5;
}
li{
	list-style: none;
}
#sideL{
	border-right: 1px solid #e5e5e5;
	height: 100vh;
	width: 15vw;
	left: 0;
	top: 0;
	position: relative;
	z-index: 5;
	background-color: white;
}
#sideL #menu ul{
	position: absolute;
	top: 22%;
	padding-left:0px;
	width: 100%;
	
}
#sideL #menu ul li{
	width: 100%;
	text-align: left;
	padding: 5% 0%;
	font-size: 16px;
	margin-left: 10%;
}
#sideL #menu ul li:hover {
	color: #68B3CE;
}
#sideL #goHome{
	text-align: center;
	position: absolute;
	top: 8%;
	left: 30%;
}
#sideL #goHome img{
	width: 70px;
	height: 60px;
}
#sideL #goHome > p{
	font-size: 13px;
	font-weight: bold;
}
#sideL #menu #wheelchair{
	border-top: 1px solid #e5e5e5;
	position: absolute;
	margin-top: 0;
	width: 100%;
	top: 75%;
}
#sideL #menu #wheelchair > p{
	margin-left: 10%;
}
#wheelchair #smallText{
	color: #999;
	font-size: 12px;
}
#wheelchair #bigText{
	position: absolute;
	top: 55%;
}
section{
	position: absolute;
	top: 25%;
	width: 67%;
	left: 25%;
}
section #clauseText{
	width: 70%;
	margin-left: 15%;
}
section p{
	font-size: 24px;
	font-family: 'Malgun Gothic', '맑은고딕', sans-serif;
	text-align: center;
}
section #clauseText span{
	color: red;
}
.scrollBox{
	height: 120px;
	overflow-y: scroll;
	border-bottom: 1px solid #f1f2f4;
	border-top: 1px solid #a1a6b2;
	width: 100%;
}
section .agreement_tit {
	position: relative;
	/* border-bottom: 1px solid #a1a6b2; */
}
section .agreement_tit > h4{
	font-size: 20px;
	font-weight: normal;
	display: inline-block;
	margin-bottom: 1%;
}
section .agreement_tit > h4 > span{
	font-size: 15px;
	color: #b3b3b3;
}
section .agreement_tit .check label{
	font-size: 15px;
	cursor: pointer;
	color: #b3b3b3;
	margin-right: 0;
	float: right;
	padding: 0 2%;
	line-height: 5;
}
/* section .agreement_tit .check input{
	display: none;
} */
.check input:checked + label{
	color: #68b3ce;
}
section .agreement_tit .terms_wrap{
	margin-top: 0;
	
}
section .agreement_tit .terms_wrap *{
	font-size: 13px;
}
section .agreement_tit .terms_wrap h1{
	font-weight: bold;
	text-align: center;
	margin: 10px 0;
}
table{
	text-indent: initial;
	border-spacing: 0px;
    border-collapse: collapse;
	margin-left: 2%;
}
th{
	width:  21vw;
	padding: 6px 0;
    font-weight: bold;
    color: #68b3ce;
    text-align: left;
    border-bottom: 1px solid #f1f2f4;
    border-top: 1px solid #a1a6b2;
}
td{
	border-bottom: 1px solid #f1f2f4;
    line-height: 1.5;
    padding: 9px 10px 9px 0;
    font-size: 14px;
    vertical-align: top;
}
section .agreement_tit p{
	margin-left: 2%;
	color: red;
	text-align: left;
	padding-bottom: 3%;
}
dl dt{
	font-weight: bold;
}
dl li li{
	color: #666;
}
#agreeAll{
	padding: 2% 41%;
	position: absolute;
	margin-top: 2%;
	left: 1%;
	font-size: 15px;
    color: #b3b3b3;
    border: 1px solid #b3b3b3;
}
input[type="checkbox"]{
	display: none;
}
#agree3:checked + label {
	color: #594cb5;
    border: 1px solid #594cb5;
}
#btnBox{
	position: absolute;
	width: 100%;
	left: 30%;
}
#agreeNo{
	background-color: #b8becc;
	color: white;
}
#agreeYes{
	background: #5754b5;
	color: white;
}
#agreeNo:hover{
	background-color: #a1abc2;
}
#agreeYes:hover{
	background-color: #4b4a73;
}
input[type="button"]{
	margin-top: 10%;
	border: none;
	width: 18%;
	height: 8vh;
	margin-left: 1%;
}